html,
body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -95px;
  padding: 0 0 95px;
}

#footer {
  height: 95px;
  background-color: #402817;
}

#footer .container {
    padding: 30px 0;
}

.jumbotron {
	background: #402817;
	color: #ffffff;
}

.styled {
	font-family: 'Lusitana', serif;
	font-size: 63px;
}

.colored {
  color: #ECD898;
}

.jumbotron h1 {
  font-family: 'Lusitana', serif;
	font-weight: normal;
	/*font-size: 55px;*/
}

.pad {
  padding-bottom: 30px;
}